In [33]:
import pandas as pnd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [34]:
dataframe = pnd.read_csv(r'kidney_disease.csv')
dataframe.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [35]:
dataframe.shape

(400, 26)

In [36]:
# changing column names for more readability

In [37]:
columns=pnd.read_csv('descriptions.txt',sep='-')
columns=columns.reset_index()
columns.columns=['cols','abbrevations_column_names']

In [38]:
columns

               cols abbrevations_column_names
0               id                         id
1              age                        age
2               bp             blood pressure
3               sg           specific gravity
4               al                    albumin
5               su                      sugar
6              rbc            red blood cells
7               pc                   pus cell
8              pcc            pus cell clumps
9               ba                   bacteria
10             bgr       blood glucose random
11              bu                 blood urea
12              sc           serum creatinine
13             sod                     sodium
14             pot                  potassium
15            hemo                haemoglobin
16             pcv         packed cell volume
17              wc     white blood cell count
18              rc       red blood cell count
19             htn                ypertension
20              dm          diabetes mellitus
21             cad    coronary artery disease
22           appet                   appetite
23              pe                pedal edema
24             ane                     anemia
25  classification                      class

In [39]:
dataframe.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [40]:
dataframe.columns=columns['abbrevations_column_names'].values

In [41]:
dataframe

,id,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,...,packed cell volume,white blood cell count,red blood cell count,ypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [42]:
### Checking datatypes for columns

In [43]:
dataframe.dtypes

id                           int64
age                        float64
blood pressure             float64
specific gravity           float64
albumin                    float64
sugar                      float64
red blood cells             object
 pus cell                   object
pus cell clumps             object
bacteria                    object
blood glucose random       float64
blood urea                 float64
serum creatinine           float64
sodium                     float64
potassium                  float64
haemoglobin                float64
packed cell volume          object
white blood cell count      object
red blood cell count        object
ypertension                 object
diabetes mellitus           object
coronary artery disease     object
appetite                    object
pedal edema                 object
anemia                      object
class                       object
dtype: object

In [44]:
# The columns `red_blood_cell_count`, `packed_cell_volume`, and `white_blood_cell_count` are currently of type `object`.
# We need to change their data type to numerical.

In [49]:
columns_to_convert = ['red blood cell count', 'packed cell volume', 'white blood cell count']

In [50]:
def change_dtype_to_numeric(dataframe, feature):
    dataframe[feature] = pnd.to_numeric(dataframe[feature], errors='coerce')

In [53]:
for column in columns_to_convert:
    change_dtype_to_numeric(dataframe, column)

In [ ]:
# Let's drop the `id` column. The `id` column seems to be a unique identifier for each row.
# so we are dropping it as it won't help us find any insights from the data.

In [54]:
dataframe.drop(["id"],axis=1,inplace=True)

In [ ]:
# Extracting numerical and categorical features in dataframe.

In [55]:
def extract_categorical_and_numerical(dataframe):
    categorical_columns = [col for col in dataframe.columns if dataframe[col].dtype == 'object']
    numerical_columns = [col for col in dataframe.columns if dataframe[col].dtype != 'object']
    return categorical_columns, numerical_columns

In [56]:
categorical_columns,numerical_columns=extract_categorical_and_numerical(dataframe)

In [57]:
categorical_columns

['red blood cells',
 ' pus cell',
 'pus cell clumps',
 'bacteria',
 'ypertension',
 'diabetes mellitus',
 'coronary artery disease',
 'appetite',
 'pedal edema',
 'anemia',
 'class']

In [58]:
numerical_columns

['age',
 'blood pressure',
 'specific gravity',
 'albumin',
 'sugar',
 'blood glucose random',
 'blood urea',
 'serum creatinine',
 'sodium',
 'potassium',
 'haemoglobin',
 'packed cell volume',
 'white blood cell count',
 'red blood cell count']